body {
    background-color: black;
    font-family: American Typewriter, serif;
    display: grid;
    grid-template-columns: 1fr 20% 40% 20% 1fr;
    grid-template-rows: 1fr auto 2fr 3fr;
    row-gap: 15px;
    column-gap: 10px;
    
}
.selected {
    /* make background height fit text, width static */
    background-size: auto;
    background-color: rgba(138,130,112,.9);
    border: 2px solid black;
    border-radius: .7em;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
#user-view {
    width: 100%;
    height: 500px;
    background-color: rgba(194,181,155,1);
    font-family: American Typewriter, serif;
    margin: 0 auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 8% 7% 70% 8% 7%;
    grid-template-rows: 1fr 60% 1fr 20% 1fr;
}
#room-entry-description {
    font-family: American Typewriter, serif;
    display: none;
    font-size: 20px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

#upon-action {
    display: none;
    font-family: American Typewriter, serif;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    background-color
}
.move-directions {
    border: none;
    margin: 0 auto;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap:    10px;
    grid-column-gap: 10px; 
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
.move-directions > button {
    background-color:rgba(194,181,155,1);
    font-size: 30px;
    font-family: American Typewriter, serif;
}

#north {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
#east {
    grid-column-start: 3 ;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#south {
    grid-column-start: 2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#west {
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2;
    grid-row-end: 3;
}
.player-actions {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30% 40% 30%;
    row-gap: 10px;
}
.player-actions > button {
    font-family: American Typewriter, serif;
    background: rgba(194,181,155,1);
    font-size: 25px;
}
#doAction {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#look {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
}